@{
    ViewBag.Title = "Index";
}

<div class="container text-center" itemscope itemtype="http://schema.org/BlogPosting">
    <h1 itemprop="name" class="mt-5">¡Bienvenidos a nuestro Instituto de Defensa Personal!</h1>


    <div class="card" style="width: 85rem;">
        <img src="~/img/inicio.jpg" class="card-img-top" alt="imgFondo" itemprop="image">
        <div class="card-body">
            <h3 class="card-text">Nuestra misión es brindar una formación integral en defensa personal, promoviendo la confianza, la seguridad y el bienestar de nuestros estudiantes, adaptándonos a sus necesidades individuales y fomentando una actitud ética y responsable en el uso de las habilidades aprendidas.</h3>
        </div>

    </div>
</div>